package view

import (
	"github.com/erobx/trading-bot/pkg/app/model"
	"golang.org/x/text/cases"
	"golang.org/x/text/language"
	"strconv"
)

templ page() {
	<!DOCTYPE html>
	<html lang="en" class="h-full">
		<head>
			<title>TradeUps</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link rel="stylesheet" href="/public/styles.css"/>
			<script src="/public/htmx.min.js"></script>
		</head>
		<div class="navbar bg-base-100">
			<a class="btn btn-ghost text-xl">TradeUps</a>
		</div>
		<body class="text-center">
			//<div>
			//	<h1>Active Pools</h1>
			//</div>
			<div id="main" class="flex flex-wrap justify-center">
				{ children... }
			</div>
		</body>
	</html>
}

templ Groups(groups []model.DisplayGroup) {
	@page() {
		for _, g := range groups {
			@group(g.Tier, strconv.Itoa(g.GroupId), g.Skins)
		}
	}
}

templ group(tier string, gid string, currentSkins []model.Skin) {
	<div class="card items-center text-center p-4">
		<div class="card-title mb-2">
			<h1>
				{ cases.Title(language.English, cases.Compact).String(tier) }
			</h1>
		</div>
		<div class="grid grid-cols-5 grid-rows-2 gap-2">
			if len(currentSkins) != 0 {
				for _, s := range currentSkins {
					<div class="">
						<p>{ s.Name }</p>
						<p>{ s.Wear }</p>
						<p>{ s.Gun }</p>
						<p>${ s.Price.String() }</p>
					</div>
				}
				if len(currentSkins) != 10 {
					for i := 0; i < 10-len(currentSkins); i++ {
						@addSkin(gid)
					}
				}
			} else {
				for i := 0; i < 10; i++ {
					@addSkin(gid)
				}
			}
		</div>
	</div>
}

templ addSkin(gid string) {
	<button class="btn" onclick={ templ.ComponentScript{Call: "skinList" + gid + ".showModal()"} }>Add Skin</button>
	<dialog id={ string("skinList" + gid) } class="modal">
		<div class="modal-box">
			@skinForm(gid)
		</div>
		<form method="dialog" class="modal-backdrop">
			<button>Close</button>
		</form>
	</dialog>
}

templ skinForm(gid string) {
	<h3>Select a skin</h3>
	<form id="newSkinForm" method="POST" hx-post="/modal" hx-target="body">
		<input type="hidden" id="gid" name="gid" value={ gid }/>
		<input type="hidden" id="sid" name="sid" value="1"/>
		<button class="btn" type="submit">Confirm</button>
	</form>
}
